n8n/MyW.json
{
  "name": "MyW",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aec53179-75f9-45cf-a835-4c571bbd415c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        -100
      ],
      "id": "76c19ba2-9bab-4166-a59f-7989e738c376",
      "name": "Webhook",
      "webhookId": "aec53179-75f9-45cf-a835-4c571bbd415c"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"messages\": {{ $json[\"body\"][\"history\"] }} }\n\n\n\n\n\n\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -100
      ],
      "id": "bb515e71-da93-415a-b53d-b70fb6e57746",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json[\"output\"] }) }}\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        -100
      ],
      "id": "bc1f211a-5be5-43b6-8a28-aea774acf19e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_b75BAtGInLrdcMMYP8Xl2FLo",
          "mode": "list",
          "cachedResultName": "n8n_prueba"
        },
        "prompt": "define",
        "text": "={{ JSON.stringify($json[\"messages\"]) }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        260,
        -100
      ],
      "id": "03662469-1946-4511-9145-ffffcd3c099e",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "87KxLhRFXLgPNmNd",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66c2c41d-73d7-4cbb-8f1c-21b5da362357",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "814743bbfbe12a95ad8b9414743a4f5fb674d25930b9ca8b6879486881090bc8"
  },
  "id": "49EgawCeTxMSfSlB",
  "tags": []
}